[submodule "src/lib/msgpack"]
	path = src/lib/msgpack
	url = https://github.com/kengonakajima/lua-msgpack.git
[submodule "src/lib/hump"]
	path = src/lib/hump
	url = https://github.com/vrld/hump.git
[submodule "src/lib/lua-pretty-print"]
	path = src/lib/lua-pretty-print
	url = https://github.com/Anaminus/lua-pretty-print.git
[submodule "hump"]
	path = src/lib/hump
	url = git@github.com:druckson/hump.git
[submodule "src/lib/frames"]
	path = src/lib/frames
	url = https://github.com/NikolaiResokav/LoveFrames.git
